.piece {
	transition-property: transform, left, top;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	transform-origin: 10px 10px;
}
.dragging {
	/* Can be overridden by .rotate-* */
	transition-property: transform;
}
.rotate-left {
	transition-property: none;
	transform: rotate(90deg);
}
.rotate-right {
	transition-property: none;
	transform: rotate(-90deg);
}
.rotate-flip {
	transition-property: none;
	transform: perspective(100px) rotateY(180deg);
}
@media all and (min-width: 580px) {
	.active .block0, .active .block1 {
		cursor: pointer;
	}
}
@media not all and (min-width: 580px) {
	.unselected {
		transform: scale(0.5, 0.5);
	}
	.selected {
        filter: drop-shadow(0 3px 3px rgba(0,0,0,0.4));
	}
}
