#board {
	position: absolute;
	border: solid black;
	border-width: 1px;
	@include full-size {
		left: 159px;
		top: 19px;
	}
	@include compact {
		left: 19px;
		top: 10px;
	}
	width: 280px;
	height: 280px;
	background-color: #ccc;
	background-image: linear-gradient(#eee 1px, transparent 1px),
					  linear-gradient(90deg, #eee 1px, transparent 1px);
	background-size: 20px 20px;
	background-position: -1px -1px;
}
.marker {
	position: absolute;
	width: 17px;
	height: 17px;
	border-radius: 17px;
}
.violet-marker {
	@extend .marker;
	left: 81px;
	top: 81px;
	background-color: mix($violet, #fff, 60%);
}
.orange-marker {
	@extend .marker;
	left: 181px;
	top: 181px;
	background-color: mix($orange, #fff, 60%);
}

.block0highlight {
	animation-duration: 2s;
	animation-iteration-count: 5;
	animation-name: animation0;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 5;
	-webkit-animation-name: animation0;
	background-color: $violet;
}
@keyframes animation0 {
	0%   { background-color: $violet; }
	50%  { background-color: mix($violet, #fff, 60%); }
	100% { background-color: $violet; }
}
@-webkit-keyframes animation0 {
	0%   { background-color: $violet; }
	50%  { background-color: mix($violet, #fff, 60%); }
	100% { background-color: $violet; }
}
.block1highlight {
	animation-duration: 2s;
	animation-iteration-count: 5;
	animation-name: animation1;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: 5;
	-webkit-animation-name: animation1;
	background-color: $orange;
}
@keyframes animation1 {
	0%   { background-color: $orange; }
	50%  { background-color: mix($orange, #fff, 60%); }
	100% { background-color: $orange; }
}
@-webkit-keyframes animation1 {
	0%   { background-color: $orange; }
	50%  { background-color: mix($orange, #fff, 60%); }
	100% { background-color: $orange; }
}
