.piece {
	-webkit-transition-property: -webkit-transform, left, top;
	transition-property: transform, left, top;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	-webkit-transform-origin: 10px 10px;
	transform-origin: 10px 10px;
}
.dragging {
	// Can be overridden by .rotate-*
	-webkit-transition-property: -webkit-transform;
	transition-property: transform;
}
.rotate-left {
	-webkit-transition-property: none;
	transition-property: none;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.rotate-right {
	-webkit-transition-property: none;
	transition-property: none;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.rotate-flip {
	-webkit-transition-property: none;
	transition-property: none;
	-webkit-transform: perspective(100px) rotateY(180deg);
	transform: perspective(100px) rotateY(180deg);
}
@include full-size {
	.active .block0, .active .block1 {
		cursor: pointer;
	}
}
@include compact {
	.unselected {
		-webkit-transform: scale(0.5, 0.5);
		transform: scale(0.5, 0.5);
	}
	.selected .block0 {
		box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
	}
	.selected .block1 {
		box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
	}
}
