@mixin full-size {
	@media all and (min-width: 580px) {
		@content;
	}
}
@mixin compact {
	@media not all and (min-width: 580px) {
		@content;
	}
}
$violet: #63d;
$orange: #f72;

@import 'board';
@import 'piece';
@import 'piece_area';
@import 'right_pane';
@import 'toolbar';

body {
	background-color: #ffe;
	font-family: sans-serif;
}

.container {
	@include full-size {
		width: 580px;
	}
	@include compact {
		width: 320px;
	}
	position: relative;
	margin: 0 auto;
}

.block0 {
	background-color: $violet;
}
.block1 {
	background-color: $orange;
}

#message {
	position: absolute;
	@include full-size {
		left: 100px;
		top: 315px;
		width: 360px;
	}
	@include compact {
		left: 20px;
		top: 300px;
		width: 270px;
	}
	padding: 5px;
	text-align: center;
	font-weight: bold;
	background-color: #bdf;
	visibility: hidden;
}
.start {
	position: absolute;
	@include full-size {
		left: 160px;
		top: 330px;
	}
	@include compact {
		left: 20px;
		top: 340px;
	}
	width: 280px;
	text-align: center;
}
.start-button {
	padding: 5px 10px 5px 10px;
	margin: 10px;
	@include compact {
		font-size: large;
	}
}
